---
layout: default
---

<div class="home">
  {% capture home_markdown %}{% include home.md %}{% endcapture %}
  {{ home_markdown | markdownify }}

  <h1>Progress</h1>
  <div class='targets'>
    {% for issue in site.data.issues %}
      {% assign status = site.data.stacktest[issue] || 'missing' %}
      <div class='target {% case 'FAILED' %}{% when 'FAILED' %}failed{% when '' %}passed{% when 'missing' %}missing{% else %}broken{% endcase %}'>
        <h2> {{ issue.title }} </h2>
        <p> {{ issue.body | markdownify }}</p>
      </div>
    {% endfor %}
  </div>


  <!-- We don't really have posts but I don't want to forget we can do this

  <h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->

</div>
